*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
}

#container{
    display: flex;
    height: 80%;
    width: 80%;
}
#form, #exibir{
    height: 80%;
    width: 100%;
    background-color: crimson;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#form form{
    display: flex;
    flex-direction: column;
}
#exibir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.containerExibir{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around; 

}
.containerExibir p{
    margin-right: 5px;
}
