*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
body{
    height:100%;
}
main{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(56, 56, 56);
}
header{
    width: 100%;
    height: 50px;
   /* position: absolute;
    top: 0;*/
    background: rgba(255,255,255,0.1);
}
header h1{
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: center;
}
#container{
    display: flex;
    height: 80%;
    width: 80%;
    border: 5px solid chartreuse;
    box-shadow:
    8px 12px 8px 0 rgba(127, 255, 0, 0.5),
    -8px -8px 8px 0 rgba(127, 255, 0, 0.5);
    border-radius: 7px;
    
}
#form, #exibir{
    height: 100%;
    width: 100%;
    background-color: rgb(83, 83, 83);
    
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#form form{
    display: flex;
    flex-direction: column;
}
#form p{
    width: 80%;
}

#form h4{
    margin-bottom: 8px;
}
#form ol{
    width: 80%;
    font-size: 15px;
    padding: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 
     3px 3px 8px 0 rgba(0, 0, 0, 0.4),
     -2px -2px 6px 0 rgba(0, 0, 0, 0.5);
}
/*
#form ol span{
    width: 10px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    border-radius: 50px;
    right: 0;
    top: 0;
    margin: auto ;
    background-color: chartreuse;
    display: none;
}*/

#form ol li{
    list-style: none;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow:
    inset 2px 1px 1px 0 rgba(0, 0, 0, 0.8),
    inset -1px -1px 1px 0 rgba(255, 255, 255, 0.5);
}
#form ol li:hover{
    color: chartreuse;
}

#form form input{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    outline: 0;
    color: chartreuse;
    background-color: rgba(255,255,255,0);
    border: none;
    box-shadow: 
    3px 3px 8px 0 rgba(0, 0, 0, 0.4),
    -2px -2px 6px 0 rgba(255, 255, 255, 0.9);
}
#form form input:hover{
    box-shadow: 
    6px 6px 8px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.9);
}
#btn, #refresh{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none; 
    background-color: rgba(255,255,255,0);
    box-shadow: 
    3px 3px 8px 0 rgba(0, 0, 0, 0.4),
    -2px -2px 6px 0 rgba(255, 255, 255, 0.9);
}
#btn:hover, #refresh:hover{
    font-size: 16px;
    font-weight: bold;
    color: chartreuse;
    box-shadow: 
    6px 6px 8px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.9);
} 


#exibir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}
.containerExibir{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around; 
    padding: 5px;
    
}
.containerExibir p{
    color: chartreuse;
    
}
.containerExibir span{
    font-weight: bold;
    
}

#dataD, #tCasos, #nCasos{
    height: 250px;
    width: 160px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 
     3px 3px 8px 0 rgba(0, 0, 0, 0.4),
     -2px -2px 6px 0 rgba(255, 255, 255, 0.5);
}